.iconlist_icon {
  width: 25px;
  height: 34px;
  background-repeat: no-repeat;
  background-size: contain;
  display: block; }

.iconlist_icon_menu {
  background-repeat: no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px; }

.icon_temp {
  width: 50px;
  height: 15px;
  background-repeat: no-repeat;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
  float: right;
  cursor: pointer; }

.icon_branch {
  background-image: url("../img/icon/icon-branch.png"); }

.icon_fixedDepositAccout {
  background-image: url("../img/icon/icon-fixeddeposit.png"); }

.icon_installmentDepositAccount {
  background-image: url("../img/icon/icon-install.png"); }

.icon_savingAccount {
  background-image: url("../img/icon/icon-saving.png"); }

.icon_currentPrestige {
  background-image: url("../img/icon/icon-currentPrestige.png"); }

.icon_chiefChild {
  background-image: url("../img/icon/icon-chiefchild.png"); }

.icon_chevronUP {
  background-image: url("../img/chevron-gray-up.png"); }

html,
body {
  height: 100%;
  position: relative; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Nokora", "Helvetica", Helvetica, Arial, Sans-Serif;
  color: #313131; }

nav {
  /* mobile nav */ }
  nav a {
    color: #313131;
    text-decoration: none; }
  nav.d-nav {
    display: none;
    height: 104px;
    justify-content: space-around;
    align-items: center; }
    nav.d-nav .nav-menu {
      display: flex; }
      nav.d-nav .nav-menu a {
        padding: 0 20px; }
    nav.d-nav .nav-right {
      display: flex;
      flex-direction: row; }
      nav.d-nav .nav-right .findbranch a {
        color: #e37525; }
    nav.d-nav .findbranch {
      margin-right: 10px; }
  nav.m-nav {
    z-index: 99999;
    position: fixed;
    width: 100%;
    background: #fff;
    max-height: 80vh; }
    nav.m-nav .nav-logo {
      max-width: 180px; }
    nav.m-nav .nav-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #e9e6e4; }
    nav.m-nav .findbranch {
      margin: 0 10px;
      width: 22px;
      height: 34px;
      background-repeat: no-repeat;
      background-size: contain; }
    nav.m-nav .nav-menu,
    nav.m-nav .sub-menu-item-wra,
    nav.m-nav .subchild-menu-item-wra {
      display: none;
      padding-top: 16px;
      flex-direction: column; }
      nav.m-nav .nav-menu.open,
      nav.m-nav .sub-menu-item-wra.open,
      nav.m-nav .subchild-menu-item-wra.open {
        display: flex; }
    nav.m-nav .nav-menu {
      padding: 16px 0; }
      nav.m-nav .nav-menu a {
        padding: 10px 0; }
      nav.m-nav .nav-menu .main-menu-item-wra {
        font-size: 24px;
        padding: 16px 0;
        border-bottom: 1px solid #e9e6e4; }
        nav.m-nav .nav-menu .main-menu-item-wra .main-menu-item::after {
          content: "";
          width: 50px;
          height: 15px;
          background-repeat: no-repeat;
          background-image: url("../img/chevron-gray-up.png");
          -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
          right: 0;
          position: fixed; }
        nav.m-nav .nav-menu .main-menu-item-wra .open.main-menu-item::after {
          transform: rotateX(360deg); }
        nav.m-nav .nav-menu .main-menu-item-wra .main-menu-item {
          cursor: pointer; }
      nav.m-nav .nav-menu .sub-menu-item-wra {
        flex-direction: column;
        font-size: 18px; }
        nav.m-nav .nav-menu .sub-menu-item-wra > a {
          color: #e37525; }
          nav.m-nav .nav-menu .sub-menu-item-wra > a .sub-menu-item::after {
            content: "";
            width: 50px;
            height: 9px;
            background-repeat: no-repeat;
            background-image: url("../img/chevron-o-up.png");
            transform: rotateX(180deg);
            right: 0;
            position: fixed; }
          nav.m-nav .nav-menu .sub-menu-item-wra > a .sub-menu-item.open::after {
            transform: rotateX(360deg); }
      nav.m-nav .nav-menu .subchild-menu-item-wra {
        font-size: 16px; }
      nav.m-nav .nav-menu .lang {
        display: block;
        background: #e9e6e4;
        padding: 16px 0; }
        nav.m-nav .nav-menu .lang > div {
          display: inline-block; }
        nav.m-nav .nav-menu .lang .items {
          right: 0;
          position: absolute;
          padding: 0 13px; }
  nav .hamburger {
    width: 30px;
    height: 22px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer; }
    nav .hamburger span {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: #e37525;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.25s ease-in-out;
      -moz-transition: 0.25s ease-in-out;
      -o-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out; }
      nav .hamburger span:nth-child(1) {
        top: 0px; }
      nav .hamburger span:nth-child(2), nav .hamburger span:nth-child(3) {
        top: 9px; }
      nav .hamburger span:nth-child(4) {
        top: 19px; }
    nav .hamburger.open span:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%; }
    nav .hamburger.open span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    nav .hamburger.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    nav .hamburger.open span:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%; }
  @media only screen and (min-width: 1025px) {
    nav.d-nav {
      display: flex; }
    nav.m-nav {
      display: none; } }

/*# sourceMappingURL=index.css.map */
