@import "./iconlist.scss";

nav {
  a {
    color: #000000;
    text-decoration: none;
  }

  // desktop nav

  &.d-nav {
    display: none;
    height: 104px;
    justify-content: space-around;
    align-items: center;

    .nav-menu {
      display: flex;
      & a {
        padding: 0 20px;
      }
    }

    .nav-right {
      display: flex;
      flex-direction: row;
      & .findbranch a {
        color: #e37525;
      }
    }
  }

  /* mobile nav */
  &.m-nav {
    z-index: 9;
    position: absolute;
    width: 100%;
    background: #fff;

    .nav-logo {
      max-width: 200px;
    }
    .nav-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #e9e6e4;
    }
    .findbranch {
      margin: 0 auto;
      width: 25px;
      height: 34px;
      background-repeat: no-repeat;
      background-size: contain;
    }
    .nav-menu,
    .sub-menu-item-wra {
    // .subchild-menu-item-wra {
      display: none;

      &.open {
        display: flex;
        flex-direction: column;
      }
    }
    .nav-menu {
      & a {
        padding: 16px 0;
      }
      .main-menu-item {
        font-size: 24px;
        padding: 16px 0;

        > a::after {
          content: "";
          width: 50px;
          height: 50px;
          background-repeat: no-repeat;
          background-image: url("../img/" + $icon_chevronUP);
          float: right;
        }
      }
      .sub-menu-item-wra {
        font-size: 18px;
        > a {
          color:#e37525;
        }
        
      }
      .subchild-menu-item-wra {
        font-size: 16px;
      }
    }
  }

  .hamburger {
    margin: 0 auto;
    width: 35px;
    height: 45px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;

    span {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: #e37525;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.25s ease-in-out;
      -moz-transition: 0.25s ease-in-out;
      -o-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out;

      &:nth-child(1) {
        top: 0px;
      }
      &:nth-child(2),
      &:nth-child(3) {
        top: 13px;
      }
      &:nth-child(4) {
        top: 28px;
      }
    }

    &.open {
      span:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
      }
      span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
      }
    }
  }

  @media only screen and (min-width: 1025px) {
    nav.d-nav {
      display: flex;
    }
    nav.m-dav {
      display: none;
    }
  }
}
